/* CSS Document */

/*notas*/
.notes p {
font-size:small;
margin-bottom:0px;
color:#696969;
}

/*citas*/
blockquote p {
	font-size: small;
	margin-left:50px;
	margin-top:20px;
	margin-bottom:20px;
}

.noespacio {
margin-bottom:-12px !important;
}

/*cuadros*/
table {
    margin: auto auto 30px auto;
    font-size: 90%;
    text-align: right;
}

.table_header td {
	/*background-color: #a60a46;*/
	/*color: #FFFFFF;*/
	font-weight:bold;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	padding: 5px 10px 5px 10px;
}

.table_line td {
	padding: 5px 10px 0px 10px;
}

.table_line2 td {
	padding-right:25px;
}

.table_line3 td {
	padding: 5px 5px 0px 5px;
}

.table_line td div {
	/*padding-right:25px;*/
}

.table_line9 td div {
	padding: 5px 10px 0px 10px;
}

.total_line td {
	font-weight:bold;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	padding: 5px 10px 5px 10px;
}

.total_line2 td {
	font-weight:bold;
	border-bottom:1px solid #000000;
	/*border-top:1px solid #000000;*/
	padding: 5px 10px 5px 10px;
}

.total_line3 td {
	/*font-weight:bold;*/
	border-bottom:1px solid #000000;
	/*border-top:1px solid #000000;*/
	padding: 5px 10px 5px 10px;
}

.last_line td {
	padding: 5px 10px 5px 10px;
}

.last_line td div {
	/*padding-right:25px;*/
}

.last_line9 td div {
	padding: 5px 10px 5px 10px;
}

.first_line {
	border-top: 1px solid #c3bbb1;
}

.table_source td {
	/*font-family: paragraphcursive;*/
	font-size: 80%;
	text-align: left;
	padding-top:3px;
}

table td {
	/*padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 0px;*/
}

.titulo_cuadro {
	text-align: center;
	font-size: 90%;
	margin-bottom: 15px;
	margin-top: 40px;
}

/*im&aacute;genes*/
.ima {
text-align: center;
}

.piedefoto {
font-size:80%; width:80%; margin:auto; font-style:italic;
}

/*bibiograf&iacute;a*/
.biblio {
font-size: 90%;
margin-bottom:-15px;
}

/*H*/
h4 {
margin-left: 40px;
}
